name: CI

on:
  # events to dryrun:
  pull_request: {}
  # events to publish:
  push:
    branches: [ main ]

jobs:

  check:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    name: Check w/ ${{ matrix.deno-version }}
    strategy:
      matrix:
        deno-version:
        - v2.3
        - v2.4
        - v2.5
        - canary
      fail-fast: false # run each branch to completion

    steps:
    - name: Checkout source
      uses: actions/checkout@v5

    - name: Use Deno ${{ matrix.deno-version }}
      uses: denoland/setup-deno@v2
      with:
        deno-version: ${{ matrix.deno-version }}
        cache: true

    - name: Run tests
      run: time deno test

    - name: Check JSR publication
      run: time deno publish --dry-run --allow-dirty

  publish-jsr:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    name: Publish to JSR
    needs: check
    if: github.event_name == 'push'

    steps:
    - uses: denoland/setup-deno@v2
      with:
        cache: true

    - uses: actions/checkout@v5

    - name: Publish now
      run: deno publish
